<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjwoo.mybatis.member.MemberMapper">

    <insert id="createMember" parameterType="com.mjwoo.mybatis.member.MemberSignUpRequestDto">
        INSERT INTO shop_member (mMail, mPw, mName, mGender, mPhone, mRegDate)
        VALUES (#{mMail}, #{mPw}, #{mName}, #{mGender}, #{mPhone}, NOW())
    </insert>

    <select id="findByMail" parameterType="String" resultType="String">
        SELECT * FROM shop_member
        WHERE mMail = #{mMail}
    </select>

    <select id="findAll" resultType="java.util.HashMap">
        SELECT * FROM shop_member
    </select>

    <select id="selectMember" parameterType="com.mjwoo.mybatis.member.MemberSignInRequestDto"
            resultType="com.mjwoo.mybatis.member.Member">
        SELECT * FROM shop_member WHERE mMail = #{mMail} AND mPw = #{mPw}
    </select>

</mapper>
