<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>Welcome</h3>
    <div th:if="${mName != null}">
        <h1 th:text="${mName} + '님 환영합니다!'"></h1>
    </div>
    <ul>
        <li><a th:href="@{/member/signUpForm}">회원가입</a></li>
        <div th:if="${mName != null}">
            <li><a th:href="@{/member/signOutConfirm}">로그아웃</a></li>
            <li><a th:href="@{/member/editAccountForm}">회원정보수정</a></li>
            <li><a th:href="@{/member/withdrawAccountConfirm}">회원탈퇴</a></li>
        </div>
        <div th:unless="${mName != null}">
            <li><a th:href="@{/member/signInForm}">로그인</a></li>
        </div>
        <li><a th:href="@{/member/getAllMembers}">모든회원조회</a></li>


    </ul>
</body>
</html>