<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>
<body>
<h3>Account Edit Page!</h3>
<form th:action="@{/member/editAccountConfirm}" th:object="${memberDto}" method="post">
    <label for="mMail">Email:</label>
    <input type="email" id="mMail" th:field="*{mMail}" required disabled>
    <br>
    <label for="mPw">Password:</label>
    <input type="password" id="mPw" th:field="*{mPw}" required>
    <br>
    <label for="mName">Name:</label>
    <input type="text" id="mName" th:field="*{mName}" required>
    <br>
    <label for="mGender">Gender:</label>
    <select id="mGender" th:field="*{mGender}" required>
        <option value="m">male</option>
        <option value="f">female</option>
    </select>
    <br>
    <label for="mPhone">phone:</label>
    <input type="text" id="mPhone" th:field="*{mPhone}" required>
    <br>
    <input type="submit" value="SUBMIT">
</form>

</body>
</html>