<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
    <style>
        /* readonly 상태의 입력 필드 스타일 */
        input[readonly] {
            background-color: #f0f0f0; /* 배경색을 연한 회색으로 */
            color: #7a7a7a; /* 텍스트 색상을 회색으로 */
            border: 1px solid #ccc; /* 경계선 색상 */
        }
    </style>
</head>
<body>
<h3>Account Edit Page!</h3>
<form th:action="@{/member/editAccountConfirm}" method="post">
    <label for="mMail">Email:</label>
    <input type="email" id="mMail" th:field="*{member.mMail}" required readonly>
    <br>
    <label for="mPw">Password:</label>
    <input type="password" id="mPw" th:field="*{member.mPw}" required>
    <br>
    <label for="mPwConfirm">Password Confirm:</label>
    <input type="password" id="mPwConfirm" required>
    <span id="pwError" style="color:red"></span>
    <br>
    <label for="mName">Name:</label>
    <input type="text" id="mName" th:field="*{member.mName}" required>
    <br>
    <label for="mGender">Gender:</label>
    <select id="mGender" th:field="*{member.mGender}" required>
        <option value="m">male</option>
        <option value="f">female</option>
    </select>
    <br>
    <label for="mPhone">phone:</label>
    <input type="text" id="mPhone" th:field="*{member.mPhone}" required>
    <br>
    <input type="submit" value="SUBMIT">
</form>

<script>
    $('#mPwConfirm').on('focusout', function() {
            const password = $('#mPw').val();
            const passwordConfirm = $(this).val();

            if (password !== passwordConfirm) {
                $('#pwError').text('비밀번호가 일치하지 않습니다.'); // 오류 메시지 표시
            } else {
                $('#pwError').text(''); // 오류 메시지 클리어
            }
    });
</script>

</body>
</html>