<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h3>Sign Up Page!</h3>
    <form th:action="@{/member/signUpConfirm}" th:object="${member}" method="post">
        <label for="mMail">Email:</label>
        <input type="email" id="mMail" th:field="*{mMail}" required>
        <button type="button" id="checkEmail">중복확인</button>
        <span id="emailError" style="color:red"></span>
        <span id="emailValid" style="color:green"></span>
        <br>
        <label for="mPw">Password:</label>
        <input type="password" id="mPw" th:field="*{mPw}" required>
        <br>
        <label for="mName">Name:</label>
        <input type="text" id="mName" th:field="*{mName}" required>
        <br>
        <label for="mGender">Gender:</label>
        <select id="mGender" th:field="*{mGender}" required>
            <option value="m">male</option>
            <option value="f">female</option>
        </select>
        <br>
        <label for="mPhone">phone:</label>
        <input type="text" id="mPhone" th:field="*{mPhone}" required>
        <br>
        <input type="submit" value="SUBMIT">
    </form>

    <script>
        $(document).ready(function() {
            $('#checkEmail').on('click', function() {
                const email = $('#mMail').val();

                $.ajax({
                    type: 'POST',
                    url: '/member/checkEmail', // 이메일 중복 확인을 위한 URL
                    data: { mMail: email },
                    success: function(response) {
                        if (response.error) {
                            $('#emailValid').text('');
                            $('#emailError').text(response.message); // 오류 메시지 표시
                        } else {
                            $('#emailError').text('');
                            $('#emailValid').text(response.message); // 오류 메시지 클리어
                            <!--$('#signUpForm').submit(); // 폼 제출-->
                        }
                    },
                    error: function() {
                        $('#emailError').text('서버 오류가 발생했습니다.'); // 서버 오류 처리
                    }
                });
            });
        });
    </script>
</body>
</html>